body {
  height: 320px;
  width: 582px;
  background: #f2f9fc;
}

table, th, td {
  border-collapse: collapse;
  table-layout: fixed;
  width: 300px;
}

tr {
	border-bottom: 1px dotted grey;
}

tr:first-child {
	border-bottom: 0px solid white;
}

th, td {
	padding: 5px;
}

thead {
  background-color: #195695;
  color: white;
}

form {
  float: left;
  padding-top: 10px;
  padding-bottom: 20px;
}

.table-head-container {
  width: 565px;
  padding-top: 4px;
  overflow-y: auto;
  margin-right: 47px;
}

.table-body-container {
  height: 244px;
  margin-top: -20px;
  width: 580px;
  margin-right: 30px;
  overflow-y: scroll;
}

.table-acronym {
  width: 22px;
}

.table-definition {
  width: 50px;
}

#search-title {
  padding-top: -30px;
}

#search-box {
  width: 250px;
  height: 38px;
  padding: 5px;
  margin-right: 32px;
  margin-top: 36px;
  font-size: 16px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1pt solid #989898;
  text-transform: uppercase;
}

input::-webkit-input-placeholder {
	color: #989898;
  text-transform: none;
}
input::-moz-placeholder {
	color: #989898;
  text-transform: none;
}
input:-moz-placeholder {   /* Older versions of Firefox */
	color: #989898;
  text-transform: none;
}
input:-ms-input-placeholder {
	color: #989898;
  text-transform: none;
}

td.def-tooltip {
  position: relative;
}

td.def-tooltip strong {
  line-height: 30px;
}

td.def-tooltip div {
  z-index: 10;
  display: none;
  padding: 14px 20px;
  margin-top: 35px;
  margin-left: -10px;
  width: 300px;
  line-height: 16px;
}

td.def-tooltip:hover div {
  display: block;
  position: absolute;
  border: 2px solid #FFF;
  color: #FFF;
  background-image: url('../images/css-tooltip-gradient-bg.png');
  background-repeat: repeat-x;
}

td.def-tooltip div {
  border-radius: 2px;
  box-shadow: 0px 0px 8px 4px #666;
}

.callout {
  z-index: 20;
  position: absolute;
  border: 0;
  top: -14px;
  left: 5px;
}

#submit-link {
  padding-top: 17px;
}

#line-divider {
  padding-top: 17px;
  padding-right: 8px;
  padding-left: 8px;
}

#feedback-link {
  padding-top: 17px;
  padding-right: 34px;
}

.disclaimer {
  font-style: italic;
  padding-left: 20px;
  padding-top: 20px;
  font-size: 10px;
}

input:focus {
  outline: none;
}

.full-width {
  width: 100%;
}

.error-container {
  height: 362px;
}

.error-message {
  top: 110px;
  position: fixed;
  width: 535px;
  text-align: center;
}
